<!DOCTYPE html>
<html>
<head>
    <title>Exams</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Exam Schedule</h1>
    <table border="1">
        <tr>
            <th>Exam ID</th>
            <th>Name</th>
            <th>Date</th>
            <th>Subject</th>
            <th>Year</th>
        </tr>
        {% for exam in exams %}
        <tr>
            <td>{{ exam.exam_id }}</td>
            <td>{{ exam.name }}</td>
            <td>{{ exam.date }}</td>
            <td>{{ exam.subject.name }}</td>
            <td>{{ exam.year }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'home' %}">Back to Dashboard</a>
</body>
</html>
